
table{
    border: 2px solid black;
}

tr,th,td{
    width: 150px;
    height:50px;
    background-color:peachpuff;
    margin :0 auto;
}
.rowss:hover{
   cursor: pointer;
}
#search{
    height:"200px";
    background-color:lightblue;
}